body {
    background-color: #4F6367;
}

.logo2 {
    margin-top: 10px;
    margin-left: 10px;
}

.question-box {
    display: block;
    background-color: #7A9E9F;
    width: 500px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;

}
#question{
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;

    
}
.options{
    margin-left: auto;
    margin-right: auto;
}
#option1{
    position: relative;
    margin-left: 38%;
    margin-top: 40px;
    padding: 20px;
    width: 330px;
    background-color: #7A9E9F;
    color: white;
    border-radius: 8px;
    
}
#option2 {
    position: relative;
    margin-left: 38%;
    margin-top: 40px;
    padding: 20px;
    width: 330px;
    background-color: #7A9E9F;
    color: white;
    border-radius: 8px;
}
#option3 {
    position: relative;
    margin-left: 38%;
    margin-top: 40px;
    padding: 20px;
    width: 330px;
    background-color: #7A9E9F;
    color: white;
    border-radius: 8px;
}
#option4 {
    position: relative;
    margin-left: 38%;
    margin-top: 40px;
    padding: 20px;
    width: 330px;
    background-color: #7A9E9F;
    color: white;
    border-radius: 8px;
}
#option1:hover {
    background-color: #4F6367;
}
#option2:hover {
    background-color: #4F6367;
}
#option3:hover {
    background-color: #4F6367;
}
#option4:hover {
    background-color: #4F6367;
}
